<div class="background">
    <div class="container ">
        <form [formGroup]="loginForm" class="d-flex justify-content-center">
            <div style="width: 50%; height: 100vh;background-color:#7DCEA0; opacity: 0.95;box-shadow: 10px 10px 50px 5px rgb(255, 255, 255),-10px 10px 50px 5px rgb(255, 255, 255); border-radius: 10px;"
                class="d-flex flex-column justify-content-center align-items-center">
                <img class="img-fluid" width="300px" style="background-color:	#7DCEA0" src="assets/logo.png"
                    alt="Sana Şifa">


                    <mat-form-field>
                        <mat-label>Toppings</mat-label>
                        <mat-select formControlName="role" >

                          <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                <!--  <div class="d-flex flex-column align-items-center " style="border-radius: 3px;border: 1px solid  rgb(255, 255, 255); padding: 10px; background-color: rgb(164, 199, 180);"> -->
                <h2 class="mb-3"><strong><b>Giriş</b></strong></h2>
                <mat-form-field style="width: 400px;" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input formControlName="email" matInput placeholder="">
                    <mat-error style="margin-top: -22px;">
                        <p *ngIf="f['email'].errors && f['email'].errors['required']">Lütfen emailinizi giriniz.
                        </p>
                        <p *ngIf="f['email'].errors && f['email'].errors['email']">Lütfen email formatında giriniz.</p>
                    </mat-error>
                    <mat-icon matPrefix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field style="width: 400px;" appearance="outline">
                    <mat-label>Parola</mat-label>
                    <input formControlName="password" matInput placeholder="">
                    <mat-error style="margin-top: -22px;">
                        <p *ngIf="f['password'].errors && f['password'].errors['required']">Lütfen parolanızı giriniz.
                        </p>
                        <p *ngIf="f['password'].errors && f['password'].errors['minlength']">Lütfen minimum 8 karakter
                            giriniz</p>
                    </mat-error>
                    <mat-icon matPrefix>key</mat-icon>
                </mat-form-field>
                <button (click)="createAccount()" [disabled]="loginForm.invalid" mat-raised-button class="mb-2 w-25" ><span>Kayıt ol</span></button>
                <button routerLink="/auth/login" color="primary" class="mb-3 w-25" mat-raised-button><span>Giriş Ekranı</span></button>
                
            </div>
            <!-- </div> -->
        </form>
    </div>
</div>