<div class="background">
    <div class="container ">
        <form  class="d-flex justify-content-center">
            <div style="width: 50%; height: 100vh;background-color:#7DCEA0; opacity: 0.95;box-shadow: 10px 10px 50px 5px rgb(255, 255, 255),-10px 10px 50px 5px rgb(255, 255, 255); border-radius: 10px;"
                class="d-flex flex-column justify-content-center align-items-center">
                <img class="img-fluid" width="300px" style="background-color:	#7DCEA0" src="assets/logo.png"
                    alt="Sana Şifa">
                <h2 class="mb-3"><strong><b translate>Parolamı Unuttum</b></strong></h2>
                <mat-form-field class="w-75" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matPrefix>mail</mat-icon>
                </mat-form-field>
                <span class="mb-4"></span>
                <button color="primary" class="mb-3"
                    mat-raised-button><span translate>Send</span></button>
    
                    <button routerLink="/auth/login"  mat-raised-button class="mb-2"><span>Giriş Ekranı</span></button>
            </div>
        </form>
    </div>
</div>
